html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------//css reset---------------*/

html, body{
   font-size: 100%;
   background:#fff; 
   a {
     text-decoration: none;
   }
   a:hover {
     transition: 0.5s all;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     -o-transition: 0.5s all;
     text-decoration:none;
   }
   /*------- banner start here --------*/
   .banner {
       background:url(../images/cats.jpg)no-repeat top;
       min-height: 780px;
       background-size: cover;
       .container{
       		.banner-main{
       			text-align: center;
       			padding-top: 12em;
       			.banner-white-box {
       			    border: 1px solid #fff;
       			    width: 33%;
       			    margin: 0 auto;
       			    a{
       			    	.shelter-title{
       			    		border: 3px solid #fff;
       			    		padding-bottom: 3em;
       			    		background: #fff;
       			    		margin: 0.5em;
       			    		h1 {
       			    		    font-size: 2em;
       			    		    color:#37485C;
       			    		    font-weight: 400;
       			    		    letter-spacing: 5px;
       			    		    font-family: 'Open Sans', sans-serif;
       			    		}
       			    		p {
       			    		    font-size: 0.9em;
       			    		    color:#954925;
       			    		    letter-spacing: 2px;
       			    		    line-height: 1.6em;
       			    		    width: 82%;
       			    		    text-transform: uppercase;
       			    		    margin: 0.6em auto 0em;
       			    		    font-family: 'Open Sans', sans-serif;
       			    		}

       			    	}
       			    }
       			}
       			h3 {
       			    font-size: 1.5em;
       			    color: #fff;
       			    margin: 1.5em auto 0em;
       			    width: 60%;
       			    line-height: 1.6em;
       			}
       		}
       }
   }
   /*---------- //banner ends here -------------*/

   /*---------- header starts here -------------*/
	.header-bottom {
	    padding: 1em 0em;
	    position: relative;
	    background: #F8F8F8;
	    .fixed-header{
	    	.container{
	    		padding-right: 15px;
	    		padding-left: 15px;
	    		margin-right: 340px;
	    		margin-left: 340px;
	    		.header-main{
	    			position:relative;
	    			.header-left{
	    				float: left;
	    				width: 50%;
	    				h2{
	    					font-size: 2em;
	    					font-family: 'Open Sans', sans-serif;
	    					a{
	    						color:#954925;
	    					}
	    				}
	    			}
	    			.header-right{
	    			    text-align: right;
	    			    .top-nav{
	    			    	.menu{
	    			    		cursor: pointer;
	    			    	}
	    			    	.nav1{
	    			    		display: none; // display:none; turi buti kai veiks js
	    			    		position: absolute;
	    			    		right:5%;
	    			    		top: -2%;
	    			    		padding: 0;
	    			    	}
	    			    	ul{
	    			    		li{
	    			    			list-style-type: none;
	    			    			display: inline-block;
	    			    			.active {
	    			    			    color: #FFFFFF;
	    			    			    background: #954925;
	    			    			}
	    			    			a{
	    			    				background:#37485C;
	    			    				color: #fff;
	    			    				text-decoration: none;
	    			    				padding:0.65em 1.5em;
	    			    				font-size: 14px;
	    			    				display: inline-block;
	    			    			}
	    			    			a:hover{
	    			    				color: #FFFFFF;
	    			    			    background: #954925;
	    			    			}
	    			    		}
	    			    	}
	    			    }
	    			}
	    		}
	    	}
	    }
	}
	.fixed{
		position: fixed;
		top: 0;
		width: 100%;
		margin: 0 auto;
		left:0;
		z-index: 999;
	}
	/* ---------- header ends here ------------ */
	/* -------------- About us -----------------*/
	.section{
		padding:4em 0;
		.container{
			h3.title {
				font-size: 3em;
				text-transform: capitalize;
				color: #000000;
				margin-bottom: 1.2em;
				font-weight: 300;
				text-align: center;
				position:relative;
			}
			h3.title:before {
				content: '';
				width: 3%;
				height: 1px;
				background: #e1e6e9;
				position: absolute;
				bottom: -10px;
				left: 49%;
				display: block;
				-webkit-transition: .5s all;
				-moz-transition: .5s all;
				transition: .5s all;
			}
			.aboutPLframe{
				padding-right: 0.5em;
				padding-left: 0.5em;
				padding-bottom: 0.5em;
				padding-top: 0.5em;
				margin-right: 340px;
				margin-left: 340px;
				border: 1px solid black;
				.aboutLP {
					border: 1px solid black;
					padding: 0 1.5em;
					h2.title {
						color:#37485C;
						font-size: 2.2em;
						text-transform: capitalize;
						display: inline;
						position: relative;
						bottom: 2.1em;
						font-family: 'Open Sans', sans-serif;
						font-weight: 700;
					}
					h5 {
					    color:#954925;
					    font-style: italic;
					    font-family: 'Open Sans', sans-serif;
					    font-size: 1em;
					    text-transform: uppercase;
					    margin: 1em 0;
					    line-height: 1.8em;
					    font-weight: 600;
					    letter-spacing: 1px;
					}
					p{
						letter-spacing: 1.5px;
						font-family: 'Open Sans', sans-serif;
						font-size: 0.8em;
						text-transform: uppercase;
						margin: 1em 0;
						line-height: 1.8em;
						font-weight: 600;
					}
					p.paremk{
						font-family: 'Open Sans', sans-serif;
						text-align: center;
						font-weight: 600;
						color:#954925;
					}
					p.linksmosios{
						font-family: 'Open Sans', sans-serif;
						text-align: center;
						font-weight: 600;
					}
					.iframeWrapper{
						text-align: center;
					}
					.payPal{
						display: block;
						margin: auto;
						width: 10%;
					}
					.email{
						font-family: 'Open Sans', sans-serif;
						text-align: center;
						font-weight: 600;
						color:#954925;
						margin-top: 0;
					}
					div.infoLine{
						display: block;
						margin: auto;
						width: 40%;
						height: 1px;
						border-bottom: 1px solid black;
					}
				}
			}
			
		}
	}
	.section:hover h3.title:before {
		    width: 22%;
		    left: 39%;
	}
	/* ---------------// About us -------------*/
	/*--services call start here--*/
	.service-call {
	    background:#F8F8F8;
	    padding: 2em 0em;
	    padding-right: 340px;
	    padding-left: 340px;
	    .services-call-left{
	    	img{
	    	position: relative;
	    	bottom: -1.5em;
	    	}
	    }
	    .services-call-right{
	    	a {
	    	font-size: 1em;
	    	color:#FFFFFF;
		    padding: 0.6em 1.9em;
		    background: #A20F21;
		    display: inline-block;
		    margin-top: 1em;
		    border-radius:4px;
		    position: relative;
		    left: 26.5em;
		    bottom: 3.1em;
	    	}
	    	a:hover {
	    	background:#5A6982;
	    	}
	    }
	}
}



